<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%JAVA_HOME%\bin\java.exe"
        arguments="-Djava.net.preferIPv4Stack=true -Dserver.port=%HTTP_PLATFORM_PORT% -jar &quot;%HOME%\site\wwwroot\media-tracker-0.0.1.jar&quot;" stdoutLogEnabled="true" stdoutLogFile="%HOME%\LogFiles\httpPlatformStdout.log">
    </httpPlatform>
  </system.webServer>
</configuration>